# =========================
# LOGS
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# NODE / FRONTEND
# =========================
frontend/node_modules/
dist/
dist-ssr/
*.local

# =========================
# LARAVEL
# =========================
backend/vendor/
backend/node_modules/
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*

# ENV FILES
.env
backend/.env
frontend/.env

# =========================
# EDITORS
# =========================
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =========================
# OS FILES
# =========================
Thumbs.db

# =========================
# TESTS / COVERAGE
# =========================
coverage/
.phpunit.result.cache
